{% if not description_maxchars %}
  {% set description_maxchars = 65 %}
{% endif %}

<div class="card">
{% if item.image_url %}
      <a class="image" href="{{url_for('showItem', collection_id=item.collection_id, item_id=item.id)}}">
        <img src="{{ request.script_root + item.image_url }}">
      </a>
{% endif %}
      <a class="content" href="{{ url_for('showItem', collection_id=item.collection_id, item_id=item.id) }}">
        <div class="header">{{item.name}}</div>
        <div class="meta">
          {{item.currency}} {{item.price}}
        </div>
        <div class="description">
          {{item.description[:description_maxchars]}}...

        </div>
      </a>

      <div class="extra">

{% include 'partial/item_tags.html' %}

      </div>

{% if item.user_id == session['user_id'] or session['group'] == 'admin' %}
      <div class="extra content">

  {% if session['group'] == 'admin' or session['group'] == 'standard' %}
        <span class="left floated">
          <a href="{{url_for('editItem', item_id=item.id )}}">
            <i class="edit icon"></i>
            Edit
          </a>
        </span>
        <span class="right floated">
          <a href="{{url_for('deleteItem', item_id=item.id )}}">
            <i class="delete icon"></i>
            Delete
          </a>
        </span>
  {% else %}
          Locked
  {% endif %}
      </div>
{% endif %}


  </div>

