    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId: '{{ FACEBOOK_APP_ID | safe }}',
          cookie: true, // enable cookies to allow the server to access
          // the session
          xfbml: true, // parse social plugins on this page
          version: 'v2.2' // use version 2.2
        });
      };
      // Load the SDK asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      // Here we run a very simple test of the Graph API after login is
      // successful.  See statusChangeCallback() for when this call is made.
      function sendTokenToServer() {
        var csrf_token = Cookies.get('_csrf_token');
        var access_token = FB.getAuthResponse()['accessToken'];
        FB.api('/me', function(response) {
          $.ajax({
            type: 'POST',
            url: '/fbconnect?state={{STATE}}',
            processData: false,
            data: access_token,
            contentType: 'application/octet-stream; charset=utf-8',
            beforeSend: function(xhr, settings) {
              if (!this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
              }
            },
            success: function(result) {
              // Handle or verify the server response if necessary.
              if (result) {
                $('#result').html('Login Successful!</br>' + result +
                '</br>Redirecting...')
                setTimeout(function() {
                  window.location.href = "/"; // collection
                }, 4000);

              } else {
                $('#result').html(
                'Failed to make a server-side call. Check your configuration and console.'
                );
              }
            }

          });
        });
      }
    </script>
