{% if items %}
  {% if listview %}
  <div class="ui vertical right aligned segment">
    <a href="?gridview=1"><i class="grid layout icon"></i></a>
  </div>
  <div class="ui divided items">
    {% for item in items %}
      {% if ( session['group'] == 'admin' or item.category_id > 1 ) and 
            ( item.user_id == session['user_id'] or session['group'] == 'admin' 
              or item.collection_id > 1 )
      %}
        {% include 'partial/single_item.html' %}
      {% endif %}
    {% endfor %}
  </div>
  {% else %}
  <div class="ui vertical right aligned segment">
    <a href="?listview=1"><i class="list layout icon"></i></a>
  </div>
  <div class="ui link cards stackable four column grid">
    {% for item in items %}
      {% if ( session['group'] == 'admin' or item.category_id > 1 ) and 
            ( item.user_id == session['user_id'] or session['group'] == 'admin' 
              or item.collection_id > 1 )
      %}
        {% include 'partial/card_item.html' %}
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}
{% endif %}