  <div class="item">
{% if item.image_url %}
    <a class="image" href="{{url_for('showItem', collection_id=item.collection_id, item_id=item.id)}}">
      <img src="{{ request.script_root + item.image_url }}" alt="Image of {{ item.name }}">
    </a>
{% endif %}
    <div class="content">
      <h1 class="header">
        <a href="{{url_for('showItem', collection_id=item.collection_id, item_id=item.id)}}">
          {{item.name}}
        </a>
      </h1>
      <div class="meta">
        <span>
          {{item.currency}} {{item.price}}
        </span>
        <span class="right floated">
{% if item.quantity > 0 %}
          <span class="ui teal label">In stock: {{item.quantity}}</span>
{% else %}
          <span class="ui red label">Out of Stock
  {% if item.user_id == session['user_id'] or session['group'] == 'admin' %}
     : {{item.quantity}}
  {% endif %}
          </span>
{% endif %}
        </span>
      </div>
      <div class="description">
        <p>{{item.description}}</p>
        <p>by: <a href="{{ url_for('showUser', user_id=item.user_id) }}">{{item.usr.name}}</a> 
          on {{item.updated}}{# .strftime('%Y-%m-%d %H.%m.%s') #}</p>
      </div>
      <div class="extra">

{% include 'partial/item_tags.html' %}

      </div>

{% if item.user_id == session['user_id'] or session['group'] == 'admin' %}
      <div class="extra">

  {% if session['group'] == 'admin' or session['group'] == 'standard' %}
            <a href="{{ url_for('editItem', item_id=item.id) }}">
                <div class="ui basic yellow button">
                    Edit Item
                </div>
            </a>
            <a href="{{ url_for('deleteItem', item_id=item.id ) }}">
                <div class="ui basic red button">
                    Delete Item
                </div>
            </a>
  {% if params.error_deletion %}
      <div class="ui red pointing label">{{params.error_deletion}}</div>
  {% endif %}

  {% else %}
          Locked
  {% endif %}

      </div>
{% endif %}


    </div>
  </div>