{% extends "_base.html" %}
{% block content %}

{% set creator=category.usr %}

<div class="ui vertical masthead center aligned segment">
  <h1 class="ui header">{{ category.name }}</h1>
  <h2>{{ category.description }}</h2>
  <h3>{% include 'partial/figure_creator_picture.html' %}</h3>
</div>

{% if category.usr.id == session['user_id'] or session['group'] == 'admin' %}
<div class="ui center aligned header">
  <a class="ui basic green button" href=" url_for('newItem', category_id=category.id) ">
    Add Item
  </a>

  <a class="ui basic yellow button" href="{{ url_for('editCategory', category_id=category.id ) }}">
    Edit Category
  </a>
  <a class="ui basic red button" href="{{ url_for('deleteCategory', category_id=category.id ) }}">
    Delete Category
  </a>
</div>
{% endif %}

{% include 'partial/listview_items.html' %}

{% endblock %}