{% extends "_base.html" %}
{% block content %}

{% set description_maxchars = MAX_ITEM_DESCRIPTION_CHARS %}
{% set uid = -1 %}

<div class="ui vertical masthead center aligned segment">
  <h1 class="ui header">Collections</h1>
{% if creator %}
  {% set uid = creator.id %}
  <h3>{% include 'partial/figure_creator_picture.html' %}</h3>
{% endif %}
</div>

{% if session['group'] == "standard" and session['user_id'] == uid %}
  <div class="ui center aligned header">
    <a class="ui basic green button" href="{{ url_for('addCollection', user_id=uid) }}">
        Add Collection
    </a>
  </div>
{% endif %}

<div class="ui link cards stackable four column grid">
{% for collection in collections %}
  {% if session['group'] == 'admin' or collection.id > 2 %}
    {% include 'partial/card_collection.html' %}
  {% endif %}
{% endfor %}
</div>

{% endblock %}
