{% extends "_base.html" %}
{% block content %}

{% set description_maxchars = MAX_ITEM_DESCRIPTION_CHARS %}
{% set uid = None %}

<div class="ui vertical masthead center aligned segment">
  <h1 class="ui header">
    Messages
  </h1>
</div>

{% if messages %}

  <div class="ui list">
  {% for message in messages %}

    {% if message == 'total_items' %}

      <a class="item" href="{{ url_for('showUserItem', user_id = session['user_id']) }}">
        <i class="edit icon"></i>
        Total Items : {{ messages[message] }}
      </a>

    {% elif message == 'uncol_items' %}

      <a class="item" href="{{ url_for('showUserCollection', user_id = session['user_id'], collection_id = 1) }}">
        <i class="edit icon"></i>
        Items without a Collection : {{ messages[message] }}
      </a>

    {% elif message == 'uncat_items' %}


      <a class="item" href="{{ url_for('showUserCategory', user_id = session['user_id'], category_id = 1) }}">
        <i class="edit icon"></i>
        Items without a Category : {{ messages[message] }}
      </a>

    {% else %}
    <div class="item">{{ message }} : {{ messages[message] }}</div>
    {% endif %}
  {% endfor %}
  </div>

{% else %}

<p>No messages</p>

{% endif %}
{% endblock %}